body
{
	margin: 0;
	padding: 0;
	background: #262626;
}

.container
{
	width: 1280px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container .box
{
	position: relative;
	width: 300px;
	height: 300px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	
}

.container .box .imgBox
{
	position: relative;
	overflow: hidden;
}

.container .box .imgBox img
{
	max-width: 100%;
	transition: transform 2s;
	border-top: 6px solid #2F4F4F;
	border-bottom: 6px solid #2F4F4F;
	border-left: 6px solid #2F4F4F;
	border-right: 6px solid #2F4F4F;
}


.container .box:hover .imgBox img
{
	transform: scale(1.2);
}





