*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 2px;
	text-align: center;
}

header {
	padding: 15px;
	background: #F0E68C;
	border-radius: 20px;
	border-top: 2px solid #483D8B;
	border-bottom: 2px solid #483D8B;
}

section{
	width: 65%;
	float: left;
	height: 520px;
	background: whitesmoke;
	border-left: 3px solid #FFFF00;
	border-right: 3px solid #FFFF00;
}

.right {
	width: 33%;
	float: left;
	height: 520px;
	background: #EEE8AA;
	border-left: 3px solid grey;
	border-right: 3px solid grey;
	margin-left: 2%;
}

.main * {
	border-radius: 10px;
}
.main {
	margin: 10px 0px;
}

.main:: after {
	content: "";
	clear: both;
	display: table;
}
